<a href="https://colab.research.google.com/github/BrunoChin/Data_science_home_price/blob/main/price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Analise dos dados

In [ ]:
df = pd.read_csv("melb_data.csv")

df.head(10)

In [ ]:
df.info()

In [9]:
home_features = ["Rooms", "Landsize", "Car", "Lattitude", "Longtitude"]

In [10]:
x = df[home_features]

y = df["Price"]

In [ ]:
x.describe()

In [ ]:
x.isna().sum()

In [ ]:
x['Landsize'].value_counts()

In [52]:
x['Rooms'].value_counts()

3     5562
4     2643
2     2461
5      593
1      232
6       64
7       10
8        8
10       1
Name: Rooms, dtype: int64

# Tratamento de dados

In [48]:
x = x.drop(x[x['Landsize'] < 10.0].index)

In [31]:
x = x.drop(x[x['Car'].isna() == True].index)

In [ ]:
x.isna().sum()